.client{
  /* display: grid;
  grid-template-columns: repeat(7, 1fr); */
}

.material-icons{
  font-size: 20px;
}

.header{
  background-color: #F7CE3E;
}

body{
  background-color: #ecf0f1;
}

.nav-bar{
  background-color: #0a1612;
}

.white{
  color: #ecf0f1;
  text-decoration: none;
  font-size: 20px;
  display: inline-block;
  padding: 5px;
  margin: 5px;
}

table{
  width: 100%;
}

td{
  text-align: center;
}

#addNewClient{
  background-color: #F7CE3E;
}

#addClient{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 20%;
}

#updateClient{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 50%;
  margin-left: 20px;
}

.button{
  color: #F7CE3E; 
  background-color: #ecf0f1;
}

td {
  border-bottom: 1px solid #ddd;
}

i{
  font-size: 50px;
  color: #ecf0f1;
  padding: 16px;
}

.fa-globe-americas, .globe {
  background-color: #f1c40f;
}

.fa-envelope, .envelope{
  background-color: #3498db;
}

.fa-user-circle, .user{
  background-color: #e74c3c;
}

.fa-chart-line, .chart{
  background-color: #2ecc71;
}


.circle {
  display: inline-block;
  background: #456BD9;
  clip-path: circle(50%);
  height: 5em;
  width: 5em;
}

.inline-block{
  display: inline-block;
  margin: 10px;
}

.big{
  font-size: 30px;
}